.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
}

.BoardContainer {
  position: relative;
}

.MessageTitle {
  margin: 8px;
}
.Message {
  margin: 0;
}
